
  .app {
    border: 2px solid #EFEFEF; 
    background-color: #EFEFEF;
    color: #326b6a;
    border-radius: 20px;
    padding-top: 30px;
    height: auto;
    width: 80vw;
    margin: 100px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    display:flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  .textAndImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
 }

 
.modules {
  margin-top: 10px;
}


.twoCols {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.coll {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 7px;
  background-color: #cac9c9;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #8f8f8f;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #3d8584;;
}

/* range */

#rangeValue {
  position: relative;
  display: block;
  text-align: center;
  font-size: 3rem;
  color: #326b6a;
  font-weight: 500;
}
.range {
  width:100%;
  height: 10px;
  appearance: none;
  background: #cac9c9;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3d8584;;
  cursor: pointer;
  box-shadow: -407px 0 0 400px #3d8584;;
}

.submit {
  border: 1px solid #3d8584;
  background-color: #3d8584;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  height: inherit;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
}