.textAlignCenter {
    text-align: center;
  }
  
  .wave {
      z-index: 0.7;
      /* animation: helpBanner 2s; */
  }
  
  .circle {
      border: 1px solid transparent;
      border-radius: 50%;
      position: absolute;
  }

  @keyframes slide-bottom {
    0% {
      transform: translateY(-200px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .banner {
      position: absolute;
      background-color: #3d8584;
      width: calc(100vw - 40px);
      margin: 15px;
      height: 259.75px;
      border-radius: 20px;
      animation: slide-bottom 2s;
      z-index: 0.5;
  }
  
  .rect {
      content: "";
      position: absolute;
      top: 218px;
      left: calc(50vw - 99px);
      z-index: 0.5;
      mask-position:0 20% ,0 0;
      width: 198px; /* double the radius for the semi-circle */
      height: 50px;
      background: white; /* Assuming the background color is white */
    }
  
  .left, .right {
      position: absolute;
      background-color: #3d8584;
      z-index: 0.3;
      /* top: 137.75px; */
      top: 138px;
      width: 60px;
      height: 120px;
  }
  
  .center {
      width: 100px;
      height: 100px;
      background-color: white;
      top: 185px;
  }
  
  .btn {
      width: 86px;
      height: 86px;
      z-index: 0.9;
      background-color: #66d3d1;
      top: 197px;
      color: white;
      font-size: 2rem;
  
      left: calc(50vw - 43px);
  }
  
  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn.circle {
      animation: heartbeat 1.5s ease-in-out infinite both 2s;
  }
  
  .left {
      left: calc(50vw - 50.8px - 60.8px + 6.8px);
      border-radius: 0 150px 150px 0;
  }
  
  
  .center {
      left: calc(50vw - 50.8px);
  }
  
  .right {
      left: calc(50vw + 50.8px - 6.5px);
      border-radius: 150px 0 0 150px;
  }
  
  
  /* functionality */
  
  .white {
    color: white;
  }
  
  .larger {
    font-size: 1.2rem;
    margin-top: 5px;
    font-weight: 500;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .row .row {
    width: 50vw;
    height: 36px;
    padding: 40px 30px;
    justify-content: flex-end;
  }
  
  .column {
    width: 25%;
    height: 230px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .whiteAndCyan {
    padding: 8px 16px;
    border: 1px solid #3d8584;
    color: #3d8584;
    font-size: 1rem;
    border-radius: 20px;
    background-image: linear-gradient(to right, white calc(100% - 40px), #66d3d1 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    z-index: 0.9;
  }
  
  .whiteBtn {
    padding: 8px 16px;
    border: 1px solid #3d8584;
    color: #3d8584;
    border-radius: 20px;
    background-image: white;
    z-index: 0.9;
  }
  
  
  .logo {
    width: 250px;
    height: 100px;
  }
  
  .menu {
    width: 170px;
  }
  
  .whiteAndCyan.search {
    min-width: 200px;
    width: calc(30vw - 30px);
    margin-right: 20px;
    z-index: 1;
  }
  
  .cabinet {
    max-width: 200px;
    min-width: 170px;
    width: calc(21vw - 30px);
    z-index: 1;
  }
  
  
  .m {
    font-size: 0.5rem;
    height: 35px;
    width: 35px;
  }
  
  p.larger.white {
    margin-left: 70px;
  }