.threeCols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact, .media {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
  }

  .qr {
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }

  #map {
    height: 200px;
    width: calc(100% - 10px);
  }

  .footer {
    border: 1px solid #3d8584;
    margin-top: 20px;
    padding: 30px 0;
    background-color: #3d8584;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
  }

  .copyright {
    text-align: center;
  }