.numberIncrement {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3d8584;
}

.numbers {
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    margin: 50px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 80px;
    width: 80px;
    border: 8px solid transparent;
    border-radius: 50%;
    background: 
    linear-gradient(white 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #3d8584, #17f0ec) border-box;
    font-size: 20px;
}
